/* ----- IMPORT CSS FILES ----- */
@import url("reset.css");
@import url("variables.css");

/* ----- TYPOGRAPHY ----- */
@font-face {
    font-family: 'Young Serif';
    font-weight: 400;
    font-style: normal;
    src: url(/assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: 'Outfit';
    font-weight: 400 600 700;
    font-style: normal;
    src: url(/assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

/* Style for all section title */
.card-recipe__section-title {
    font-family: var(--ff-cardHeadings);
    font-size: var(--fs-cardSectionHeading);
    font-weight: var(--fw-cardSectionHeading);
    line-height: var(--primitive-lh-100);
    color: var(--clr-cardSectionHeading);
}

/* Modifier for the main heading */
.card-recipe__section-title--main {
    font-size: var(--fs-cardMainHeadingMobile);
    color: var(--clr-cardMainHeading);
}

/* Modifier for the preparetion banner */
.card-recipe__info-title {
    font-size: var(--fs-cardIfoHeading);
    font-weight: var(--fw-cardIfoHeading);
    color: var(--clr-cardInfoHeading);
}

/* ----- LAYOUT ----- */
body {
    font-family: var(--ff-body);
    background: var(--clr-bodyBG);
    color: var(--clr-bodyTxt);
}

/* Used to set a parent container
   to work with container queries */
.wrapper {
    container: card / inline-size;
}

/* Main card container */
.card-recipe {
    max-width: 46rem;
    margin-inline: auto;
    background: var(--clr-cardBG);
}

/* This is the container for all card content */
.card-recipe__body {
    gap: var(--primitive-m-32);
    padding-inline: var(--primitive-p-32);
    padding-block: var(--primitive-p-40);
}

/* Class to style all section */
.card-recipe__section {
    gap: var(--primitive-m-24);
}

/* Modifier to style preparation banner */
.card-recipe__section--info {
    background: var(--clr-cardInfoBG);
    padding: var(--primitive-p-24);
    gap: var(--primitive-m-16);
    border-radius: .75rem;
}

/* ul and ol style */
.card-recipe__list {
    gap: var(--primitive-m-8);
    padding: 0;
}

/* Set marker position inside to ol */
.card-recipe__section > ol {
    list-style-position: inside;
    counter-reset: list-num;
}

/* General style for li items */
.card-recipe__list-item {
    display: flex;
    gap: var(--primitive-m-28);
}

/* Align bullett points vertically
   center with the text inside li
*/
.bullett {
    align-items: center;
}

/* Define bullett points for ul li */
.bullett::before {
    position: relative;
    content: '\2022';
    left: var(--primitive-m-8);
    font-weight: var(--fw-bold);
    color: var(--clr-cardSectionHeading);
}

/* Bulletts modifier to set the color
   to the bulletts of card banner*/
.bullett--info::before {
    color: var(--clr-cardInfoHeading);
}

/* Define number points for ol li */
.numered::before {
    position: relative;
    counter-increment: list-num;
    content: counter(list-num) ". ";
    left: var(--primitive-m-8);
    font-weight: var(--fw-bold);
    color: var(--clr-cardSectionHeading);
}

/* Style for nutrition table */
table {
    border-collapse: collapse;
}

tr  {
    grid-template-columns: 1fr 1fr;
    gap: var(--primitive-m-16);
    border-block-end: 1px solid var(--clr-divider);
}

td {
    padding-inline: var(--primitive-p-32) 0;
    padding-block: var(--primitive-p-12);
}

td:last-child {
    padding-inline: 0 var(--primitive-p-32);
}

/* Style for footer content */
.attribution {
    font-size: var(--fs-attribution);
    text-align: center;
    padding: var(--primitive-p-2);
}

.attribution a {
    color: var(--clr-accent);
    text-underline-offset: var(--primitive-m-2);
}

/* ----- LAYOUT DEVICE > 900PX ----- */
@container card (inline-size > 56.25em) {

    .card-recipe {
        margin-block: var(--primitive-m-150) var(--primitive-m-96);
        padding: var(--primitive-p-40);
        border-radius: 1.5rem;
    }

    .card-recipe__img {
        border-radius: .75rem;
    }

    .card-recipe__body {
        padding-block: var(--primitive-p-40) 0;
        padding-inline: 0;
    }

    .card-recipe__section-title--main {
        font-size: var(--fs-cardMainHeadingDesktop);
    }

    .card-recipe__section--info {
        padding: var(--primitive-p-28);
    }
}

/* ----- UTILITY CLASS ----- */
.accent {
    color: var(--clr-accent);
}

.divider {
    border-block-start: 1px solid var(--clr-divider);
}

.d-grid {
    display: grid;
}